doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
  title Application Packet
  //  DataTables
  link(href='/plugins/datatables/dataTables.bootstrap4.min.css', rel='stylesheet', type='text/css')
  link(href='/plugins/datatables/buttons.bootstrap4.min.css', rel='stylesheet', type='text/css')
  //  Responsive datatable examples
  link(href='/plugins/datatables/responsive.bootstrap4.min.css', rel='stylesheet', type='text/css')
  //  DATEPICKER
  link(href='/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' rel='stylesheet')
  link(href='/plugins/select2/css/select2.min.css', rel='stylesheet', type='text/css')
  link(href='/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css', rel='stylesheet', type='text/css')
  link(href='/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css', rel='stylesheet', type='text/css')
  link(href='/plugins/emoji-picker-master/css/emoji.css', rel='stylesheet', type='text/css')
  // SIGNATURE PAD
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  link(href='/plugins/signature-pad-master/assets/jquery.signaturepad.css' rel='stylesheet' type='text/css')
  //  JQUERY STEPS
  link(href='/plugins/jquery-steps/jquery.steps.css' rel='stylesheet' type='text/css')
  //  MAIN STYLESHEET
  link(href='/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css')
  link(href='/assets/css/icons.css' rel='stylesheet' type='text/css')
  link(href='/assets/css/style.css' rel='stylesheet' type='text/css')
