doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
  title Application Packet
  //  DataTables
  link(href='/plugins/datatables/dataTables.bootstrap4.min.css', rel='stylesheet', type='text/css')
  link(href='/plugins/datatables/buttons.bootstrap4.min.css', rel='stylesheet', type='text/css')
  //  Responsive datatable examples
  link(href='/plugins/datatables/responsive.bootstrap4.min.css', rel='stylesheet', type='text/css')
  //  DATEPICKER
  link(href='/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' rel='stylesheet')
  //  JQUERY STEPS
  link(href='/plugins/jquery-steps/jquery.steps.css' rel='stylesheet' type='text/css')
  //  MAIN STYLESHEET
  link(href='/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css')
  link(href='/assets/css/icons.css' rel='stylesheet' type='text/css')
  link(href='/assets/css/style.css' rel='stylesheet' type='text/css')
