include includes/header_plugins

body.pb-0
.account-page-full-height.bg-transparent
  .container-fluid
    .row.align-items-center
      .col-xl-3.bg-white
        .account-page-full-height
          .p-3
            div
              .text-center.py-4
                a.logo(href='/')
                  img(src='/assets/images/logo-dark.png', height='20', alt='logo')
              .text-left.p-3
                h4.font-18.text-center Reset Password
                .alert.alert-success.mt-4.text-center(role='alert').

                  Enter your Email and instructions will be sent to you!

                form.form-horizontal.mt-5(action='index.html')
                  .form-group
                    label(for='useremail') Email
                    input.form-control#useremail(type='email', placeholder='Enter email')
                  .form-group.row
                    .col-12.text-center
                      button.btn.btn-danger.w-md.waves-effect.waves-light(type='submit') Reset
                .mt-5.text-center
                  p
                    | Already have an account ?
                  p
                    a.font-500.text-primary(href='/') Go To Login


    //  end row
  //  end container-fluid

include includes/footer_plugins
