include includes/header_plugins

body.pb-0
.account-page-full-height.bg-transparent
  .container-fluid
    .row.align-items-center
      .col-xl-3.bg-white.pull-right
        .account-page-full-height
          .p-3
            div
              .text-center.py-4
                a.logo(href='/')
                  img(src='/assets/images/logo-dark.png', height='20', alt='logo')
              .text-left.p-3
                h4.font-18.text-center Welcome Back !
                p.text-muted.text-center Sign in to continue .
                if(err)
                  .alert.alert-danger.bg-danger.text-white.text-center(role='alert').
                    Email Address Already Registered !
                form.form-horizontal.mt-5(action='/users/login-user' autocomplete="off" method='post'
                  class='needs-validation'
                  novalidate)
                  .form-group
                    label(for='logemail') Email
                    input.form-control#logemail(type='email', placeholder='Email Address' name="logemail" required
                    autocomplete='off')
                    .valid-feedback
                      | Looks good!
                    .invalid-feedback
                      | Please Indicate Your Pre-Registered Email Address
                  .form-group
                    label(for='logpassword') Password
                    input.form-control#logpassword(type='password', placeholder='Password' name="logpassword"
                      required autocomplete='off')
                    .valid-feedback
                      | Looks good!
                    .invalid-feedback
                      | Please Indicate Your Pre-Registered Password
                  .form-group.row
                    .col-12.text-right
                      button.btn.btn-primary.w-md.waves-effect.waves-light.btn-block(type='submit') Login
                  .form-group.mt-2.mb-0.row.text-center
                    .col-12.mt-6
                      a(href='/users/forgot-password')
                        i.mdi.mdi-lock
                        |  Forgot your password?
    //  end row
  //  end container-fluid

include includes/footer_plugins
