include includes/header_plugins

body.pb-0
.account-page-full-height.bg-transparent
  .container-fluid
    .row.align-items-center
      .col-xl-3.bg-white
        .account-page-full-height
          .p-3
            div
              .text-center.p-4
                a.logo(href='/')
                  img(src='/assets/images/logo-dark.png', height='20', alt='logo')
              .text-left.p-3
                h4.font-18.text-center Registration
                if (err)
                  .alert.alert-danger.bg-danger.text-white.text-center(role='alert').
                    Email Address Already Registered !
                form.form-horizontal.mt-5(action='/users/register-user' method='post' class="needs-validation" novalidate)
                  .form-group
                    label(for='validationCustom01') Email
                    input.form-control#validationCustom01(type='email', placeholder='Enter email' name="useremail" required)
                    .valid-feedback
                      | Looks good!
                    .invalid-feedback
                      | Please Indicate Your Correct Email Address
                  .form-group
                    label(for='uname') Username
                    input.form-control#uname(type='text', placeholder='Enter username' name="username" required)
                    .valid-feedback
                      | Looks good!
                    .invalid-feedback
                      | Please Indicate Your Desired Username
                  .form-group
                    label(for='upassword') Password
                    input.form-control#upassword(type='password', placeholder='Enter password' name="userpassword" required)
                    .valid-feedback
                      | Looks good!
                    .invalid-feedback
                      | Please Type Your Desired Password
                  .form-group.row
                    .col-12.text-right
                      button.btn.btn-danger.w-md.waves-effect.waves-light.btn-block(type='submit') Register
              .mt-5.text-center
                p
                  | Already have an account ?
                p
                  a.font-500.text-primary(href='/') Login
    //  end row
  //  end container-fluid

include includes/footer_plugins
