.row
    .col-md-12
        .form-group
            h4.mt-0.header-title.text-center.text-dark B&D HOSPICE SERVICES dba.
            h2.text-center.text-dark TRIUNION HEALTHCARE
            p.card-text.text-center.text-dark 6350 Laurel Canyon Blvd. Ste 207 North Hollywood CA 91606
            br
            br


        .form-group
            .form-row.col-md-12
                .table-responsive
                    table.table.table-bordered.mb-0
                        thead
                            tr

                                th(colspan="4").text-center SELF ASSESSMENT
                                th.text-center(colspan="4" rowspan='3') Competency for the Licensed Practical / Vocational Nurse
                                th.text-center(rowspan='3') Proficiency Required
                                th.text-center(rowspan='3') Evaluation Method
                                th.text-center(rowspan='3') Compentency Validation Indicated By Preceptors Initials and Date


                            tr
                                th(colspan="2").text-center Do you have experience with this skill ?
                                th(colspan="2").text-center Are you competent performing the following :

                            tr
                                th.text-center Yes
                                th.text-center No
                                th.text-center Yes
                                th.text-center No

                        tbody
                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 31. Concept of death and dying
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q1yes.custom-control-input(type='radio' name='pg39q1' required='' value='yes')
                                            label.custom-control-label(for='pg39q1yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q1no.custom-control-input(type='radio' name='pg39q1' required='' value='no')
                                            label.custom-control-label(for='pg39q1no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q2yes.custom-control-input(type='radio' name='pg39q2' required='' value='yes')
                                            label.custom-control-label(for='pg39q2yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q2no.custom-control-input(type='radio' name='pg39q2' required='' value='no')
                                            label.custom-control-label(for='pg39q2no')

                                td.text-center(colspan='4')
                                    | a. Normal Vs Abnormal
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr1.form-control.waves-float(type='text' name='pg39pr1')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em1.form-control.waves-float(type='text' name='pg39em1')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp1.form-control.waves-float(type='text' name='pg39comp1')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q3yes.custom-control-input(type='radio' name='pg39q3' required='' value='yes')
                                            label.custom-control-label(for='pg39q3yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q3no.custom-control-input(type='radio' name='pg39q3' required='' value='no')
                                            label.custom-control-label(for='pg39q3no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q4yes.custom-control-input(type='radio' name='pg39q4' required='' value='yes')
                                            label.custom-control-label(for='pg39q4yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q4no.custom-control-input(type='radio' name='pg39q4' required='' value='no')
                                            label.custom-control-label(for='pg39q4no')

                                td.text-center(colspan='4')
                                    | b. Cultural attitudes toward death
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr2.form-control.waves-float(type='text' name='pg39pr2')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em2.form-control.waves-float(type='text' name='pg39em2')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp2.form-control.waves-float(type='text' name='pg39comp2')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q5yes.custom-control-input(type='radio' name='pg39q5' required='' value='yes')
                                            label.custom-control-label(for='pg39q5yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q5no.custom-control-input(type='radio' name='pg39q5' required='' value='no')
                                            label.custom-control-label(for='pg39q5no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q6yes.custom-control-input(type='radio' name='pg39q6' required='' value='yes')
                                            label.custom-control-label(for='pg39q6yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q6no.custom-control-input(type='radio' name='pg39q6' required='' value='no')
                                            label.custom-control-label(for='pg39q6no')

                                td.text-center(colspan='4')
                                    | c. Values of patient / Family
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr3.form-control.waves-float(type='text' name='pg39pr3')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em3.form-control.waves-float(type='text' name='pg39em3')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp3.form-control.waves-float(type='text' name='pg39comp3')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q7yes.custom-control-input(type='radio' name='pg39q7' required='' value='yes')
                                            label.custom-control-label(for='pg39q7yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q7no.custom-control-input(type='radio' name='pg39q7' required='' value='no')
                                            label.custom-control-label(for='pg39q7no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q8yes.custom-control-input(type='radio' name='pg39q8' required='' value='yes')
                                            label.custom-control-label(for='pg39q8yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q8no.custom-control-input(type='radio' name='pg39q8' required='' value='no')
                                            label.custom-control-label(for='pg39q8no')

                                td.text-center(colspan='4')
                                    | d. Grieving And Fears Of Dying Patient
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr4.form-control.waves-float(type='text' name='pg39pr4')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em4.form-control.waves-float(type='text' name='pg39em4')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp4.form-control.waves-float(type='text' name='pg39comp4')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q9yes.custom-control-input(type='radio' name='pg39q9' required='' value='yes')
                                            label.custom-control-label(for='pg39q9yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q9no.custom-control-input(type='radio' name='pg39q9' required='' value='no')
                                            label.custom-control-label(for='pg39q9no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q10yes.custom-control-input(type='radio' name='pg39q10' required='' value='yes')
                                            label.custom-control-label(for='pg39q10yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q10no.custom-control-input(type='radio' name='pg39q10' required='' value='no')
                                            label.custom-control-label(for='pg39q10no')

                                td.text-center(colspan='4')
                                    | e. Denial And Defences mechanisims
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr5.form-control.waves-float(type='text' name='pg39pr5')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em5.form-control.waves-float(type='text' name='pg39em5')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp5.form-control.waves-float(type='text' name='pg39comp5')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q11yes.custom-control-input(type='radio' name='pg39q11' required='' value='yes')
                                            label.custom-control-label(for='pg39q11yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q11no.custom-control-input(type='radio' name='pg39q11' required='' value='no')
                                            label.custom-control-label(for='pg39q11no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q12yes.custom-control-input(type='radio' name='pg39q12' required='' value='yes')
                                            label.custom-control-label(for='pg39q12yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q12no.custom-control-input(type='radio' name='pg39q12' required='' value='no')
                                            label.custom-control-label(for='pg39q12no')

                                td.text-center(colspan='4')
                                    |  F. Grief and family children and others
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr6.form-control.waves-float(type='text' name='pg39pr6')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em6.form-control.waves-float(type='text' name='pg39em6')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp6.form-control.waves-float(type='text' name='pg39comp6')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q13yes.custom-control-input(type='radio' name='pg39q13' required='' value='yes')
                                            label.custom-control-label(for='pg39q13yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q13no.custom-control-input(type='radio' name='pg39q13' required='' value='no')
                                            label.custom-control-label(for='pg39q13no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q14yes.custom-control-input(type='radio' name='pg39q14' required='' value='yes')
                                            label.custom-control-label(for='pg39q14yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q14no.custom-control-input(type='radio' name='pg39q14' required='' value='no')
                                            label.custom-control-label(for='pg39q14no')

                                td.text-center(colspan='4')
                                    | G. Anticipatory Grief
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr7.form-control.waves-float(type='text' name='pg39pr7')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em7.form-control.waves-float(type='text' name='pg39em7')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp7.form-control.waves-float(type='text' name='pg39comp7')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q15yes.custom-control-input(type='radio' name='pg39q15' required='' value='yes')
                                            label.custom-control-label(for='pg39q15yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q15no.custom-control-input(type='radio' name='pg39q15' required='' value='no')
                                            label.custom-control-label(for='pg39q15no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q16yes.custom-control-input(type='radio' name='pg39q16' required='' value='yes')
                                            label.custom-control-label(for='pg39q16yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q16no.custom-control-input(type='radio' name='pg39q16' required='' value='no')
                                            label.custom-control-label(for='pg39q16no')

                                td.text-center(colspan='4')
                                    | H. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr8.form-control.waves-float(type='text' name='pg39pr8')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em8.form-control.waves-float(type='text' name='pg39em8')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp8.form-control.waves-float(type='text' name='pg39comp8')
                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 32. Communication skills
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q17yes.custom-control-input(type='radio' name='pg39q17' required='' value='yes')
                                            label.custom-control-label(for='pg39q17yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q17no.custom-control-input(type='radio' name='pg39q17' required='' value='no')
                                            label.custom-control-label(for='pg39q17no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q18yes.custom-control-input(type='radio' name='pg39q18' required='' value='yes')
                                            label.custom-control-label(for='pg39q18yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q18no.custom-control-input(type='radio' name='pg39q18' required='' value='no')
                                            label.custom-control-label(for='pg39q18no')

                                td.text-center(colspan='4')
                                    | A. Eye Contact active listening
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr9.form-control.waves-float(type='text' name='pg39pr9')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em9.form-control.waves-float(type='text' name='pg39em9')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp9.form-control.waves-float(type='text' name='pg39comp9')

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q19yes.custom-control-input(type='radio' name='pg39q19' required='' value='yes')
                                            label.custom-control-label(for='pg39q19yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q19no.custom-control-input(type='radio' name='pg39q19' required='' value='no')
                                            label.custom-control-label(for='pg39q19no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q20yes.custom-control-input(type='radio' name='pg39q20' required='' value='yes')
                                            label.custom-control-label(for='pg39q20yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q20no.custom-control-input(type='radio' name='pg39q20' required='' value='no')
                                            label.custom-control-label(for='pg39q20no')

                                td.text-center(colspan='4')
                                    | B. Avoiding interruptions and judgemental responses
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr10.form-control.waves-float(type='text' name='pg39pr10')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em10.form-control.waves-float(type='text' name='pg39em10')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp10.form-control.waves-float(type='text' name='pg39comp10')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q21yes.custom-control-input(type='radio' name='pg39q21' required='' value='yes')
                                            label.custom-control-label(for='pg39q21yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q21no.custom-control-input(type='radio' name='pg39q21' required='' value='no')
                                            label.custom-control-label(for='pg39q21no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q22yes.custom-control-input(type='radio' name='pg39q22' required='' value='yes')
                                            label.custom-control-label(for='pg39q22yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q22no.custom-control-input(type='radio' name='pg39q22' required='' value='no')
                                            label.custom-control-label(for='pg39q22no')

                                td.text-center(colspan='4')
                                    | C. Open Ended Questions
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr11.form-control.waves-float(type='text' name='pg39pr11')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em11.form-control.waves-float(type='text' name='pg39em11')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp11.form-control.waves-float(type='text' name='pg39comp11')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q23yes.custom-control-input(type='radio' name='pg39q23' required='' value='yes')
                                            label.custom-control-label(for='pg39q23yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q23no.custom-control-input(type='radio' name='pg39q23' required='' value='no')
                                            label.custom-control-label(for='pg39q23no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q24yes.custom-control-input(type='radio' name='pg39q24' required='' value='yes')
                                            label.custom-control-label(for='pg39q24yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q24no.custom-control-input(type='radio' name='pg39q24' required='' value='no')
                                            label.custom-control-label(for='pg39q24no')

                                td.text-center(colspan='4')
                                    | D. Paraphrasing and reflection
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr12.form-control.waves-float(type='text' name='pg39pr12')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em12.form-control.waves-float(type='text' name='pg39em12')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp12.form-control.waves-float(type='text' name='pg39comp12')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q25yes.custom-control-input(type='radio' name='pg39q25' required='' value='yes')
                                            label.custom-control-label(for='pg39q25yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q25no.custom-control-input(type='radio' name='pg39q25' required='' value='no')
                                            label.custom-control-label(for='pg39q25no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q26yes.custom-control-input(type='radio' name='pg39q26' required='' value='yes')
                                            label.custom-control-label(for='pg39q26yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q26no.custom-control-input(type='radio' name='pg39q26' required='' value='no')
                                            label.custom-control-label(for='pg39q26no')

                                td.text-center(colspan='4')
                                    | E. Self Disclosure
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr13.form-control.waves-float(type='text' name='pg39pr13')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em13.form-control.waves-float(type='text' name='pg39em13')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp13.form-control.waves-float(type='text' name='pg39comp13')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q27yes.custom-control-input(type='radio' name='pg39q27' required='' value='yes')
                                            label.custom-control-label(for='pg39q27yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q27no.custom-control-input(type='radio' name='pg39q27' required='' value='no')
                                            label.custom-control-label(for='pg39q27no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q28yes.custom-control-input(type='radio' name='pg39q28' required='' value='yes')
                                            label.custom-control-label(for='pg39q28yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q28no.custom-control-input(type='radio' name='pg39q28' required='' value='no')
                                            label.custom-control-label(for='pg39q28no')

                                td.text-center(colspan='4')
                                    | F. Support and reassurrance
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr14.form-control.waves-float(type='text' name='pg39pr14')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em14.form-control.waves-float(type='text' name='pg39em14')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp14.form-control.waves-float(type='text' name='pg39comp14')

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q29yes.custom-control-input(type='radio' name='pg39q29' required='' value='yes')
                                            label.custom-control-label(for='pg39q29yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q29no.custom-control-input(type='radio' name='pg39q29' required='' value='no')
                                            label.custom-control-label(for='pg39q29no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q30yes.custom-control-input(type='radio' name='pg39q39' required='' value='yes')
                                            label.custom-control-label(for='pg39q39yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q30no.custom-control-input(type='radio' name='pg39q39' required='' value='no')
                                            label.custom-control-label(for='pg39q39no')

                                td.text-center(colspan='4')
                                    | g. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr15.form-control.waves-float(type='text' name='pg39pr15')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em15.form-control.waves-float(type='text' name='pg39em15')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp15.form-control.waves-float(type='text' name='pg39comp15')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q31yes.custom-control-input(type='radio' name='pg39q31' required='' value='yes')
                                            label.custom-control-label(for='pg39q31yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q31no.custom-control-input(type='radio' name='pg39q31' required='' value='no')
                                            label.custom-control-label(for='pg39q31no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q32yes.custom-control-input(type='radio' name='pg39q32' required='' value='yes')
                                            label.custom-control-label(for='pg39q32yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q32no.custom-control-input(type='radio' name='pg39q32' required='' value='no')
                                            label.custom-control-label(for='pg39q32no')

                                td.text-center(colspan='4')
                                    | 33. Acceptance of differing cultures / religious Values
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr16.form-control.waves-float(type='text' name='pg39pr16')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em16.form-control.waves-float(type='text' name='pg39em16')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp16.form-control.waves-float(type='text' name='pg39comp16')
                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 34. Comport Care of the patient / Family
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q33yes.custom-control-input(type='radio' name='pg39q33' required='' value='yes')
                                            label.custom-control-label(for='pg39q33yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q33no.custom-control-input(type='radio' name='pg39q33' required='' value='no')
                                            label.custom-control-label(for='pg39q33no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q34yes.custom-control-input(type='radio' name='pg39q34' required='' value='yes')
                                            label.custom-control-label(for='pg39q34yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q34no.custom-control-input(type='radio' name='pg39q34' required='' value='no')
                                            label.custom-control-label(for='pg39q34no')

                                td.text-center(colspan='4')
                                    | A. Positioning
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr17.form-control.waves-float(type='text' name='pg39pr17')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em17.form-control.waves-float(type='text' name='pg39em17')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp17.form-control.waves-float(type='text' name='pg39comp17')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q35yes.custom-control-input(type='radio' name='pg39q35' required='' value='yes')
                                            label.custom-control-label(for='pg39q35yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q35no.custom-control-input(type='radio' name='pg39q35' required='' value='no')
                                            label.custom-control-label(for='pg39q35no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q36yes.custom-control-input(type='radio' name='pg39q36' required='' value='yes')
                                            label.custom-control-label(for='pg39q36yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q36no.custom-control-input(type='radio' name='pg39q36' required='' value='no')
                                            label.custom-control-label(for='pg39q36no')

                                td.text-center(colspan='4')
                                    | B. Music Theraphy
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr18.form-control.waves-float(type='text' name='pg39pr18')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em18.form-control.waves-float(type='text' name='pg39em18')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp18.form-control.waves-float(type='text' name='pg39comp18')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q37yes.custom-control-input(type='radio' name='pg39q37' required='' value='yes')
                                            label.custom-control-label(for='pg39q37yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q37no.custom-control-input(type='radio' name='pg39q37' required='' value='no')
                                            label.custom-control-label(for='pg39q37no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q38yes.custom-control-input(type='radio' name='pg39q38' required='' value='yes')
                                            label.custom-control-label(for='pg39q38yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q38no.custom-control-input(type='radio' name='pg39q38' required='' value='no')
                                            label.custom-control-label(for='pg39q38no')

                                td.text-center(colspan='4')
                                    | C. Massage
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr19.form-control.waves-float(type='text' name='pg39pr19')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em19.form-control.waves-float(type='text' name='pg39em19')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp19.form-control.waves-float(type='text' name='pg39comp19')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q39yes.custom-control-input(type='radio' name='pg39q39' required='' value='yes')
                                            label.custom-control-label(for='pg39q39yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q39no.custom-control-input(type='radio' name='pg39q39' required='' value='no')
                                            label.custom-control-label(for='pg39q39no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q40yes.custom-control-input(type='radio' name='pg39q40' required='' value='yes')
                                            label.custom-control-label(for='pg39q40yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q40no.custom-control-input(type='radio' name='pg39q40' required='' value='no')
                                            label.custom-control-label(for='pg39q40no')

                                td.text-center(colspan='4')
                                    | D. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr20.form-control.waves-float(type='text' name='pg39pr20')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em20.form-control.waves-float(type='text' name='pg39em20')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp20.form-control.waves-float(type='text' name='pg39comp20')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q41yes.custom-control-input(type='radio' name='pg39q41' required='' value='yes')
                                            label.custom-control-label(for='pg39q41yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q41no.custom-control-input(type='radio' name='pg39q41' required='' value='no')
                                            label.custom-control-label(for='pg39q41no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q42yes.custom-control-input(type='radio' name='pg39q42' required='' value='yes')
                                            label.custom-control-label(for='pg39q42yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q42no.custom-control-input(type='radio' name='pg39q42' required='' value='no')
                                            label.custom-control-label(for='pg39q42no')

                                td.text-center(colspan='4')
                                    | 35. Handling a death at home
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr21.form-control.waves-float(type='text' name='pg39pr21')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em21.form-control.waves-float(type='text' name='pg39em21')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp21.form-control.waves-float(type='text' name='pg39comp21')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q43yes.custom-control-input(type='radio' name='pg39q43' required='' value='yes')
                                            label.custom-control-label(for='pg39q43yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q43no.custom-control-input(type='radio' name='pg39q43' required='' value='no')
                                            label.custom-control-label(for='pg39q43no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q44yes.custom-control-input(type='radio' name='pg39q44' required='' value='yes')
                                            label.custom-control-label(for='pg39q44yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q44no.custom-control-input(type='radio' name='pg39q44' required='' value='no')
                                            label.custom-control-label(for='pg39q44no')

                                td.text-center(colspan='4')
                                    | 36. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr22.form-control.waves-float(type='text' name='pg39pr22')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em22.form-control.waves-float(type='text' name='pg39em22')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp22.form-control.waves-float(type='text' name='pg39comp22')


                            tr
                                td(colspan='12')
                                    .form-group.col-md-12
                                        label.text-dark COMMENTS
                                        textarea.form-control(required='' rows='5')
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Employee Name
                                            input.form-control(type='text' name='' required)
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='' required)
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Supervisor Name
                                            input.form-control(type='text' name='' required)
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='' required)
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Preceptor(s)
                                            input.form-control(type='text' name='' required)
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='' required)
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Preceptor(s)
                                            input.form-control(type='text' name='' required)
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='' required)
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Preceptor(s)
                                            input.form-control(type='text' name='' required)
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='' required)
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Preceptor(s)
                                            input.form-control(type='text' name='' required)
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='' required)










