.row
    .col-md-12
        .form-group
            h4.mt-0.header-title.text-center.text-dark B&D HOSPICE SERVICES dba.
            h2.text-center.text-dark TRIUNION HEALTHCARE
            p.card-text.text-center.text-dark 6350 Laurel Canyon Blvd. Ste 207 North Hollywood CA 91606
            br
            br
        .form-group
            h4.text-center.text-dark TUBERCULOSIS SYMPTOM SCREENING QUESTIONAIRE
            br
            br
    .form-group.col-md-12
        .form-group.col-md-12.row
            .form-group.col-md-12
                h4.mt-0.header-title.text-left.text-dark Persons with a positive Mantoux tuberculin skin test reaction should complete a Chest X-ray and a medical evaluation. Routine follow-up screening should be done annually as required by Title 9 CCR,10567.
    .form-group.col-md-12
        .form-group.col-md-12.row
            .form-group.col-md-6
                h4.mt-0.header-title.text-left.text-dark History of positive TB test or TB disease
            .form-group.col-md-3
                .custom-control.custom-radio
                    input#yes.custom-control-input(type='radio' name='choices' value='yes')
                    label.custom-control-label(for='yes') Yes
            .form-group.col-md-3
                .custom-control.custom-radio
                    input#no.custom-control-input(type='radio' name='choices' value='no')
                    label.custom-control-label(for='no') No
    .form-group.col-md-12
        .table-responsive
            table.table.table-bordered.mb-5
                thead
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Question
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Yes

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Have you Experienced any of the following symptoms in the past year ?
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes1.custom-control-input(type='radio' name='choices1' value='yes')
                                        label.custom-control-label(for='yes1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no1.custom-control-input(type='radio' name='choices1' value='no')
                                        label.custom-control-label(for='no1') No

                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark A productive cough lasting for 3 weeks or longer

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes2.custom-control-input(type='radio' name='choices2' value='yes')
                                        label.custom-control-label(for='yes2') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no2.custom-control-input(type='radio' name='choices2' value='no')
                                        label.custom-control-label(for='no2') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Coughing up blood / hemoptysis

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes3.custom-control-input(type='radio' name='choices3' value='yes')
                                        label.custom-control-label(for='yes3') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no3.custom-control-input(type='radio' name='choices3' value='no')
                                        label.custom-control-label(for='no3') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Fever chills or night sweats for no known reason

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes4.custom-control-input(type='radio' name='choices4' value='yes')
                                        label.custom-control-label(for='yes4') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no4.custom-control-input(type='radio' name='choices4' value='no')
                                        label.custom-control-label(for='no4') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Unexplained Weight loss

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes5.custom-control-input(type='radio' name='choices5' value='yes')
                                        label.custom-control-label(for='yes5') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no5.custom-control-input(type='radio' name='choices5' value='no')
                                        label.custom-control-label(for='no5') No

                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Persistent shortness of breath ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes6.custom-control-input(type='radio' name='choices6' value='yes')
                                        label.custom-control-label(for='yes6') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no6.custom-control-input(type='radio' name='choices6' value='no')
                                        label.custom-control-label(for='no6') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Unexplained weight loss

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes7.custom-control-input(type='radio' name='choices7' value='yes')
                                        label.custom-control-label(for='yes7') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no7.custom-control-input(type='radio' name='choices7' value='no')
                                        label.custom-control-label(for='no7') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Persistent shortness of breath ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes8.custom-control-input(type='radio' name='choices8' value='yes')
                                        label.custom-control-label(for='yes8') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no8.custom-control-input(type='radio' name='choices8' value='no')
                                        label.custom-control-label(for='no8') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Unexplained fatique ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes9.custom-control-input(type='radio' name='choices9' value='yes')
                                        label.custom-control-label(for='yes9') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no9.custom-control-input(type='radio' name='choices9' value='no')
                                        label.custom-control-label(for='no9') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Chest Pain ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes10.custom-control-input(type='radio' name='choices10' value='no')
                                        label.custom-control-label(for='yes10') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no10.custom-control-input(type='radio' name='choices10' value='no')
                                        label.custom-control-label(for='no10') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Have you had contact with anyone with active tuberculosis disease in the past year?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes11.custom-control-input(type='radio' name='choices11' value='no')
                                        label.custom-control-label(for='yes11') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no11.custom-control-input(type='radio' name='choices11' value='no')
                                        label.custom-control-label(for='no11') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Are you taking medications,which suppress your immune system ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#yes12.custom-control-input(type='radio' name='choices12' value='no')
                                        label.custom-control-label(for='yes12') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#no12.custom-control-input(type='radio' name='choices12' value='no')
                                        label.custom-control-label(for='no12') No
                    tr
                        th.text-left(colspan='12')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-left.text-dark Please provide details to any question answered "YES".
                                    br
                                    textarea#textarea.form-control(maxlength='225' rows='4' name='pg35answeredyes')
                    tr
                        th.text-left(colspan='12')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    h4.mt-0.header-title.text-left.text-dark I declare that my answers and statements are correctly recorded, complete, and true to the best of my knowledge.
                                    br
                                    br
                                .form-group.col-md-6.text-center
                                    .card
                                        .card-body.bg-white
                                            div.flex.text-center
                                                div#sigbox(style="width:450px;")
                                                    input#signature(name='pg35signature' type='text' placeholder='Sign here' style="font-size:50px;")
                                            br
                                            h4.mt-0.header-title.text-center.text-dark Printed Name & Signature
                                .form-group.col-md-6

                                    input.form-control.waves-float(type='date' name='pg35signaturedate')
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Date
    .form-group.col-md-12
        .table-responsive
            table.table.table-bordered.mb-5
                thead
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark PART B
                                    h4.mt-0.header-title.text-center.text-dark Upon review of there sponses to the questionnaire and discussion with the person for whom the tuberculos is evaluation is required,I recommend as follows :
                            .form-group.col-md-12.row
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg35partbanswer1')
                                .form-group.col-md-10
                                    h4.mt-0.header-title.text-dark There is no indication this person has active tuberculosis at this time.
                            .form-group.col-md-12.row
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg35partbanswer2')
                                .form-group.col-md-10
                                    h4.mt-0.header-title.text-dark Further evaluation, including a TB skin Test, Interfer on Gamma Release Assay or medical evaluation is indicated,and should be completed prior to work placement or admission to facility.
                            .form-group.col-md-12.row
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg35partbanswer3')
                                .form-group.col-md-2
                                    h4.mt-0.header-title.text-dark Previously Tested in PPD
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg35partbanswer4')
                                .form-group.col-md-2
                                    h4.mt-0.header-title.text-dark To Submit Chest X-ray
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg35partbanswer5')
                                .form-group.col-md-2
                                    h4.mt-0.header-title.text-dark Chest X-ray on file.
                            br
                            br
                            br
                            br
                            br

                            .form-group.col-md-12.row
                                .form-group.col-md-6
                                    input.form-control.waves-float(type='text' value='' name='pg35healthcarename')
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Health Care Professional Name
                                .form-group.col-md-6
                                    input.form-control.waves-float(type='date' value='' name='pg35healthcaredatesigned')
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Date

                            .form-group.col-md-6.text-center
                                .card
                                    .card-body.bg-white
                                        div.flex.text-center
                                            div#sigbox(style="width:450px;")
                                                input#signature(name='pg35signaturehealthcare' type='text' placeholder='Sign here' style="font-size:50px;")
                                        br
                                        h4.mt-0.header-title.text-center.text-dark SIGNATURE




