.row
    .col-md-12
        .form-group
            h4.mt-0.header-title.text-center.text-dark B&D HOSPICE SERVICES dba.
            h2.text-center.text-dark TRIUNION HEALTHCARE
            p.card-text.text-center.text-dark 6350 Laurel Canyon Blvd. Ste 207 North Hollywood CA 91606
            br
            br
        .form-group
            h4.text-center.text-dark TUBERCULOSIS SYMPTOM SCREENING QUESTIONAIRE
            br
            br
    .form-group.col-md-12
        .form-group.col-md-12.row
            .form-group.col-md-12
                h4.mt-0.header-title.text-left.text-dark Persons with a positive Mantoux tuberculin skin test reaction should complete a Chest X-ray and a medical evaluation. Routine follow-up screening should be done annually as required by Title 9 CCR,10567.
    .form-group.col-md-12
        .form-group.col-md-12.row
            .form-group.col-md-6
                h4.mt-0.header-title.text-left.text-dark History of positive TB test or TB disease
            .form-group.col-md-3
                .custom-control.custom-checkbox
                    input#customCheck1.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customCheck1') Yes
            .form-group.col-md-3
                .custom-control.custom-checkbox
                    input#customCheck1.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customCheck1') No
    .form-group.col-md-12
        .table-responsive
            table.table.table-bordered.mb-5
                thead
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Question
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Yes

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Have you Experienced any of the following symptoms in the past year ?
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No

                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark A productive cough lasting for 3 weeks or longer

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Coughing up blood / hemoptysis

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Fever chills or night sweats for no known reason

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Unexplained Weight loss

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No

                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Persistent shortness of breath ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Unexplained weight loss

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Persistent shortness of breath ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Unexplained fatique ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Chest Pain ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Have you had contact with anyone with active tuberculosis disease in the past year?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Are you taking medications,which suppress your immune system ?

                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') Yes
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    .custom-control.custom-radio.mt-0.header-title.text-center
                                        input#customCheck1.custom-control-input(type='radio')
                                        label.custom-control-label(for='customCheck1') No
                    tr
                        th.text-left(colspan='12')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-left.text-dark Please provide details to any question answered "YES".
                                    br
                                    textarea#textarea.form-control(maxlength='225' rows='4')
                    tr
                        th.text-left(colspan='12')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    h4.mt-0.header-title.text-left.text-dark I declare that my answers and statements are correctly recorded, complete, and true to the best of my knowledge.
                                    br
                                    br
                                .form-group.col-md-6

                                    input.form-control.waves-float(type='text' value='' name='pg22printedname')
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Printed Name & Signature
                                .form-group.col-md-6

                                    input.form-control.waves-float(type='text' value='' name='pg22printedname')
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Date
    .form-group.col-md-12
        .table-responsive
            table.table.table-bordered.mb-5
                thead
                    tr
                        th.text-left(colspan='4')
                            .form-group.col-md-12.row
                                .form-group.col-md-12
                                    br
                                    br
                                    h4.mt-0.header-title.text-center.text-dark PART B
                                    h4.mt-0.header-title.text-center.text-dark Upon review of there sponses to the questionnaire and discussion with the person for whom the tuberculos is evaluation is required,I recommend as follows :
                            .form-group.col-md-12.row
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg22printedname')
                                .form-group.col-md-10
                                    h4.mt-0.header-title.text-dark There is no indication this person has active tuberculosis at this time.
                            .form-group.col-md-12.row
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg22printedname')
                                .form-group.col-md-10
                                    h4.mt-0.header-title.text-dark Further evaluation, including a TB skin Test, Interfer on Gamma Release Assay or medical evaluation is indicated,and should be completed prior to work placement or admission to facility.
                            .form-group.col-md-12.row
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg22printedname')
                                .form-group.col-md-2
                                    h4.mt-0.header-title.text-dark Previously Tested in PPD
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg22printedname')
                                .form-group.col-md-2
                                    h4.mt-0.header-title.text-dark To Submit Chest X-ray
                                .form-group.col-md-2
                                    input.form-control.waves-float(type='text' value='' name='pg22printedname')
                                .form-group.col-md-2
                                    h4.mt-0.header-title.text-dark Chest X-ray on file.
                            br
                            br
                            br
                            br
                            br

                            .form-group.col-md-12.row
                                .form-group.col-md-4
                                    input.form-control.waves-float(type='text' value='' name='pg22printedname')
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Health Care Professional Name
                                .form-group.col-md-4
                                    input.form-control.waves-float(type='text' value='' name='pg22printedname')
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Signature
                                .form-group.col-md-4
                                    input.form-control.waves-float(type='date' value='' name='pg22printedname')
                                    br
                                    h4.mt-0.header-title.text-center.text-dark Date




