










.row
  .col-md-12
    .form-group
      h4.mt-0.header-title.text-center.text-dark B&D HOSPICE SERVICES dba.
      h2.text-center.text-dark TRIUNION HEALTHCARE
      p.card-text.text-center.text-dark 6350 Laurel Canyon Blvd. Ste 207 North Hollywood CA 91606
      br
      br
      .alert.alert-dark(role='alert')
          h4.col-12.mb-2.text-dark.text-center ORIENTATION CHECKLIST
      br

    .form-group.col-md-4.text-center
        label.text-dark Employee Name / Contractor Name :
        input.form-control.waves-float(type='text' value= (app)? app.pg9nameofemployee : '' name='pg9nameofemployee')


    br
    br


    .form-row.col-lg-12
      .form-group.col-md-12
          .table-responsive
              table.table.table-bordered.mb-0

                  tbody
                      tr
                          th
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 1. Introduction to Office Staff
                          td
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 2. Service Agreement and Position description

                      tr
                          th
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 3. Documentation and Forms
                          td
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 4. Agency Policies and Procedures
                      tr
                          th
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 5. Personnel Policies
                          td
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 6. Illness and Injury Prevention Program
                      tr
                          th
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 7. Infection Control
                          td
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 8. Function of and Referral to other Disciplines
                      tr
                          th
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 9. Title XXII, Chapter 6 and Medicare Conditions of Participation
                          td
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 10. Reporting of Significant Changes in the Patient's condition
                      tr
                          th
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 11. Case Conferences / IDT
                          td
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 12. In-Service Education
                      tr
                          th
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 13. Quality Management Program
                          td
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 14. Patient / Staff and Agency Confidentiality
                      tr
                          th
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 15. Fire Safety / Emergency Preparedness
                          td
                              .col-md-12
                                  div
                                      br
                                      .custom-control.custom-checkbox.mb-2
                                          input.custom-control-input#customCheck1(type='checkbox', checked)
                                          label.custom-control-label(for='customCheck1') 16. Employee Handbook

    .alert.alert-dark(role='alert')
        h4.col-12.mb-2.text-dark.text-center Awknowledgement
        h6.col-12.mb-2.text-dark.text-center I Awknowledgement that i have oriented to the above. I have received a copy of my position description. I have completed orientation.

  .form-row.col-lg-12
      .form-group.col-md-6.text-center
          .card
              .card-body.bg-white
                  div.flex.text-center
                      div#sigbox(style="width:450px;")
                          input#signature(name='pg9signatureemployee' value= (app)? app.pg9signatureemployee : '' type='text' placeholder='Sign here' style="font-size:50px;")
                  br
                  h4.mt-0.header-title.text-center.text-dark Employee / Contractor Signature
      .form-group.col-md-6
          label.text-dark Date :
          .input-group
              input.form-control(type='date', placeholder='mm/dd/yyyy' value= (app)? app.pg9dateoforientation1 : '' name='pg9dateoforientation1')
              .input-group-append
                  span.input-group-text
                      i.mdi.mdi-calendar
  .form-row.col-lg-12
      .form-group.col-md-6.text-center
          .card
              .card-body.bg-white
                  div.flex.text-center
                      div#sigbox
                          input#signature(name='pg9signatureagency'  value= (app)? app.pg9signatureagency : '' type='text' placeholder='Sign here' style="font-size:50px;")
                  br
                  h4.mt-0.header-title.text-center.text-dark Agency Representative Signature
      .form-group.col-md-6
           label.text-dark Date :
           .input-group
              input.form-control(type='date', placeholder='mm/dd/yyyy' value= (app)? app.pg9dateoforientation2 : '' name='pg9dateoforientation2')
              .input-group-append
                  span.input-group-text
                      i.mdi.mdi-calendar




